html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn{
  display: block;
  background: yellowgreen;
  color: white;
  padding: 13px 70px;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  margin: auto;
  bottom: 0;
  font-weight: bold;
}

.btn:hover{
  background-color: #000000;
}

.btn:active {
  background-color: #00ff08;
}
@media sreen  and (max-width: 768px) {
  .btn{
    display: block;
    background: yellowgreen;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    margin: auto;
    font-weight: bolder;
    position: relative;
  } 
}

@media screen and (max-width: 480px) {
  .btn{
    display: block;
    background: yellowgreen;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    margin: auto;
    bottom: 10px;
    font-weight: bolder;
    position: relative;
  }
}
