/*Body color*/
.container{
  width: 100%;
  max-width: max-content;
  background-image: -moz-linear-gradient(145deg,purple,blue,lime);
  justify-content: space-between;
  align-items: center;
  padding: auto;
  flex-direction: column;
}
.logo{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;
}
/*Navigation styles*/
.nav{
height: 60px;
background-color: darkslategray;
color: white;
display: flex;
align-items: center;
padding: 0 100px;
font-size: 20px;
justify-content: space-between;
padding-top: 0%;
}
.listItem{
  display: inline;
  margin-right: 30px;
  font-size: 16px;
  color: lightgray;
  cursor: pointer;
  font-weight: bold;
}

/*Introduction Home styles*/
.card{
top: -20px;
justify-content: center;
max-width: 90%;
background: rgba(150,144,138,0.5);
border-radius: 35px;
font-weight: bolder;
height: 73%;
padding-right: 70px;
position: relative;
margin: auto;
position: relative;
}

.card h1{
margin-left: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tittle{
text-align: center;
color: antiquewhite;
font-style: italic;
opacity: 1;
position: relative;
text-decoration: underline;
justify-content: center;
top: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.intro{
font-size: large;
margin: 0;
position: relative;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.bottom{
height: 50px;
background-color: black;
display: flex;
margin-bottom: 0;
width: 100%;
bottom: 0;
color: white;
justify-content: center;
position: fixed;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.position{
justify-content: space-between;
}
.pop{
background: darkslategray;
width: 73%;
justify-content: center;
margin: auto;
padding: 0px 0px 0px 0px;
text-align: center;
border-radius: 50px;
height: 240px;
font-size: medium;
}
.parag{
text-align: justify;
color: white;
position: relative;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 7px 15px 10px 130px;
}

.paraW{
color: white;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {

.nav {
  height: 65px;
  background-color: darkslategray;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 20px ;
  font-size: 25px;
  justify-content: space-between;
  padding-top: 0;
  align-items: center;
}

.card{
  justify-content: center;
  max-width: 90%;
  background: rgba(150,144,138,0.5);
  border-radius: 35px;
  font-weight: bolder;
  max-height: fit-content;
  padding-right: 70px;
  position: relative;
  margin-top: -18px;
  position: relative;
  margin-bottom: -15px;
}

.card h1{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 50px;
  padding-right: 0px;
  position: static;
 font-weight: bolder;
 
}

.listItem{
  display: inline;
  margin-right: 10px;
  font-size: 18px;
  color: lightgray;
  cursor: pointer;font-family: 'Times New Roman', Times, serif;
}
.intro{
font-size: large;
margin: 0;
position: relative;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.bottom{
height: 30px;
background-color: black;
display: flex;
margin-bottom: 0;
width: 100%;
bottom: 0;
color: white;
justify-content: center;
position: fixed;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parag{
text-align: inherit;
color: white;
position: relative;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 3px 7px 5px 80px;
}

.pop{
background: darkslategray;
width: 73%;
justify-content: center;
margin: auto;
padding: 0px 0px 0px 0px;
text-align: center;
border-radius: 50px;
height: 240px;
font-size: medium;
}

.pop{
background: darkslategray;
width: 73%;
justify-content: center;
margin: auto;
padding: 0px 0px 0px 0px;
text-align: center;
border-radius: 50px;
height: 500px;
font-size: medium;
}

.pop h1{
font-family: 'Times New Roman', Times, serif;
}

.bottom{
height: 25px;
background-color: black;
display: flex;
margin-bottom: 0;
width: 100%;
bottom: 0;
color: white;
justify-content: center;
position: fixed;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom p{
font-size: medium;
}
}

@media screen and (max-width: 480px) {

.nav {
  height: 65px;
  background-color: darkslategray;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 20px ;
  font-size: 15px;
  justify-content: space-between;
  padding-top: 0;
  align-items: center;
}

.card{
  justify-content: center;
  max-width: 90%;
  background: rgba(150,144,138,0.5);
  border-radius: 35px;
  font-weight: bolder;
  max-height: fit-content;
  padding-right: 70px;
  position: relative;
  margin-top: -1px;
  position: relative;
}

.card h1{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 50px;
  padding-right: 0px;
  position: static;
 font-weight: normal;
 
}

.listItem{
  display: inline;
  margin-right: 10px;
  font-size: 13px;
  color: lightgray;
  cursor: pointer;font-family: 'Times New Roman', Times, serif;
}
.intro{
font-size: medium;
margin: 0;
position: relative;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.bottom{
height: 30px;
background-color: black;
display: flex;
margin-bottom: 0;
width: 100%;
bottom: 0;
color: white;
justify-content: center;
position: fixed;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parag{
text-align: inherit;
color: white;
position: relative;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 3px 7px 5px 80px;
}

.pop{
background: darkslategray;
width: 73%;
justify-content: center;
margin: auto;
padding: 0px 0px 0px 0px;
text-align: center;
border-radius: 50px;
height: 240px;
font-size: medium;
}

.pop{
background: darkslategray;
width: 73%;
justify-content: center;
margin: auto;
padding: 0px 0px 0px 0px;
text-align: center;
border-radius: 50px;
height: 800px;
font-size: medium;
}

.pop h1{
font-family: 'Times New Roman', Times, serif;
}

.bottom{
height: 25px;
background-color: black;
display: flex;
margin-bottom: 0;
width: 100%;
bottom: 0;
color: white;
justify-content: center;
position: fixed;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom p{
font-size: smaller;
}
}
